
.btn-prof-1{
    border-radius: 20px;
    padding:0.8rem 2rem;
    background-color: #FFBA33;
    box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
    margin-top: 1rem;
    color: #6A4029;
    font-weight: bold;
    width: 12rem;

}

.btn-prof-2{
    border-radius: 20px;
    padding:0.8rem 2rem;
    background-color: #6A4029;
    box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
    margin-top: 1rem;
    color: #fff;
    font-weight: bold;
    width: 12rem;
}
.btn-prof-2.outline{
    border-radius: 20px;
    padding:0.8rem 2rem;
    background-color: #FFFFFF;;
    border: 3px solid #6A4029;
    box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
    margin-top: 1rem;
    color: #6A4029;
    font-weight: bold;
    width: 12rem;
}
.mini{
    border-radius: 10px;
    padding:0.3rem 2rem;
}
.btn-prof-3{
    width: 12rem;
    border-radius: 20px;
    padding:0.8rem 2rem;
    background-color: #fff;
    box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
    margin-top: 2.5rem;
    color: #6A4029;
    font-weight: bold;
    border: 1px solid #9F9F9F;
}
.btn-prof-4{
    border-radius: 20px;
    padding:0.8rem 2rem;
    background-color: #0B132A;
    margin-top: 1rem;
    color: white;
    font-weight: bold;
    width: 12rem;

}
.btn-prof-5{
    border-radius: 20px;
    padding:0.8rem 2rem;
    background-color: rgba(186, 186, 186, 0.35);
    margin-top: 1rem;
    color: #4F5665;
    font-weight: bold;
    width: 12rem;

}