.checkbox-toolbar {
    margin: 0 10px;
}

.checkbox-toolbar > input[type='checkbox'],
.checkbox-toolbar > input[type='checkbox'] + label:before {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}
.checkbox-toolbar > input[type='radio'],
.checkbox-toolbar > input[type='radio'] + label:before {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}

.checkbox-toolbar label {
    background: #f4f4f8;
    border: 1px solid rgba(186, 186, 186, 0.35);
    display: inline-block;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    color: #9f9f9f;
    cursor: pointer;
}

.checkbox-toolbar input[type='checkbox']:focus + label {
    border: 2px dashed #444;
}
.checkbox-toolbar input[type='radio']:focus + label {
    border: 2px dashed #444;
}

.checkbox-toolbar input[type='checkbox']:checked + label {
    background-color: #FFBA33;
    color: #6A4029;
    font-weight: bold;
}
.checkbox-toolbar input[type='radio']:checked + label {
    background-color: #FFBA33;
    color: #6A4029;
    font-weight: bold;
}
@media only screen and (max-width:956px) {
    .checkbox-toolbar label {
        padding: 0.5rem;
        font-size: 0.8rem;

    }
}